pageInfo:
  title: Max Tableau de Bord
  description: Serveur Paris Le Nuage de Marjan Janjic
  logo: https://www.lesgrandsvoisins.com/medias/images/max-janjic.min-1200x350.jpg
  navLinks:
    - title: www
      path: https://www.lesgrandsvoisins.com
    - title: blog
      path: https://blog.lesgrandsvoisins.com
    - title: gdvoisins
      path: https://www.gdvoisins.com
    - title: documentation
      path: https://quartz.resdigita.com
appConfig:
  useProxy: false
  enableHeaderAuth: true
  widgetsAlwaysUseProxy: false
  theme: callisto
  customCss: >-
    @media (min-width: 1780px) { .home
    .item-group-container:not(.item-size-large) { grid-template-columns:
    repeat(3, 1fr); } } .home .item-group-container.item-size-large
    .item-group-grid, .home .item-group-container.orientation-vertical
    .item-group-grid { display: flex !important; }
  auth:
    enableGuestAccess: true
    enableOidc: true
    oidc:
      endpoint: https://keycloak.gdvoisins.com/realms/master
      clientId: maxdashy
      scope: profile openid email
      adminGroup: staticadmin
    users:
      - user: alicia
        hash: 8ef36dddf6c5fd339bf37388af701d298e7ce0e890b92dcd25f90b70a1cf22ea
        type: admin
      - user: max
        hash: 8ef36dddf6c5fd339bf37388af701d298e7ce0e890b92dcd25f90b70a1cf22ea
        type: admin
      - user: chris@mann.fr
        hash: 8ef36dddf6c5fd339bf37388af701d298e7ce0e890b92dcd25f90b70a1cf22ea
        type: admin
  webSearch:
    searchEngine: google
    openingMethod: newtab
  enableErrorReporting: true
  allowConfigEdit: true
  enableFontAwesome: true
  fontAwesomeKey: 2e949c5bf4
  faviconApi: faviconkit
  workspaceLandingUrl: https://max.gdvoisins.com
  enableMultiTasking: true
  language: fr
  layout: auto
  iconSize: medium
sections:
  - name: Sites principaux
    items:
      - id: www
        title: www
        description: Portail lesgrandsvoisins.com
        icon: 🏠
        url: https://www.lesgrandsvoisins.com
        provider: Les Grands Voisins(.com)
      - id: blog
        title: blog
        provider: Blog LesGrandsVoisins.com
        icon: 📰
        url: https://blog.lesgrandsvoisins.com
        description: Blog des Grands Voisins
      - id: gdvoisins
        title: gdvoisins
        provider: G D Voisins
        icon: 🧭
        url: https://www.gdvoisins.com
        description: Tableau de bord des outils libres
      - id: documentation
        title: documentation
        description: Documentation sur les outils
        icon: 📖
        url: https://quartz.resdigita.com
        provider: Documentation
  - name: Outils Libres
    icon: fas fa-code
    displayData:
      sortBy: default
      sectionLayout: grid
      itemCountX: 5
      cols: 2
    items:
      - id: webmail
        title: webmail
        provider: Web Mail
        icon: ✉️
        url: https://mail.lesgrandsvoisins.com
        description: Webmail et serveur mail des Grands Voisins
      - id: meet
        title: meet
        provider: Meet (Jitsi)
        icon: 👨‍👩‍👧‍👦
        url: https://jitsi.lgv.info/lesgrandsvoisins
        description: Salle de réunion Jitsi en visioconférence
      - id: mots-de-passe
        title: mots-de-passe
        provider: Mots-de-passe (Vaultwarden)
        icon: 🔑
        url: https://vw.lgv.info/
        description: Vaultwarden pour gérer nos mots de passe
  - name: Outils Libres SSO
    items:
      - id: drive (roses copyparty)
        title: drive (roses copyparty)
        provider: Drive (Roses CopyParty)
        icon: 📂
        url: https://cp.roses.gdvoisins.com/
        description: Partager des fichiers et des dossiers
      - id: liens (linkding)
        title: liens (linkding)
        provider: Liens (Linkding)
        icon: 🔗
        url: https://linkding.lesgrandsvoisins.com/
        description: Gérer nos liens web (favoris / marque pages)
      - id: markdown (hedgedoc)
        title: markdown (hedgedoc)
        provider: Markdown (Hedgedoc)
        icon: 📝
        url: https://mark.lesgrandsvoisins.com/
        description: Editer nos documents collaboratifs en format Markdown
      - id: tâches (vikunja)
        title: tâches (vikunja)
        provider: Tâches (Vikunja)
        icon: ☑️
        url: https://task.lesgrandsvoisins.com/
        description: Coordonner des projets et des tâches
  - name: Mon Compte
    items:
      - id: compte-keycloak
        title: compte-keycloak
        provider: Compte Keycloak
        icon: 🪪
        url: https://key.lesgrandsvoisins.com/realms/master/account
        description: Interface de mon administration pour moi
      - id: compte-guichet
        title: compte-guichet
        provider: Compte guichet
        icon: 🪪
        url: https://guichet.resdigita.com/user
        description: Ancien gestion d'utilisateur Guichet
      - id: inscription-infos
        title: inscription-infos
        provider: Infolettre (Listmonk)
        icon: 🗞️
        url: https://list.lesgrandsvoisins.com/subscription/form
        description: Inscription sur nos lettres d'information ListMonk
  - name: Dons
    items:
      - id: dons-helloasso
        title: dons-helloasso
        provider: Dons HelloAsso
        icon: 🪙
        url: >-
          https://www.helloasso.com/associations/les-grands-voisins/adhesions/souscription-annuelle
        description: Dons HelloAsso pour Les Grands Voisins
      - id: dons-paypal
        title: dons-paypal
        provider: Dons Paypal
        icon: 🪙
        url: https://www.paypal.com/donate/?hosted_button_id=BPUUS6H6TP62Y
        description: Dons Paypal pour Les Grands Voisins
      - id: dons-stripe
        title: dons-stripe
        provider: Dons Stripe
        icon: 🪙
        url: https://donate.stripe.com/fZe7uD07z9hAg0w288
        description: Dons Stripe pour Les Grands Voisins
  - name: Médias sociaux
    items:
      - id: instagram
        title: instagram
        provider: Instagram
        icon: 📽️
        url: https://www.instagram.com/les_grands_voisins
        description: les_grands_voisins sur Instagram
      - id: youtube
        title: youtube
        provider: YouTube
        icon: 🎥
        url: https://www.youtube.com/@LesGrandsVoisinsCom
        description: '@LesGrandsVoisinsCom sur Youtube'
      - id: github
        title: github
        provider: GitHub
        icon: 👩🏻‍💻
        url: https://github.com/lesgrandsvoisins
        description: lesgrandsvoisins sur GitHub
  - name: Expérimentation
    items:
      - id: writefreely
        title: writefreely
        provider: Bêta WriteFreely
        icon: ✒️
        url: https://writefreely.lesgrandsvoisins.com/
        description: Blog Write Freely
      - id: forum
        title: forum
        provider: Bêta Forum
        icon: 💬
        url: https://discourse.lesgrandsvoisins.com/
        description: Forum Discourse
      - id: fils-de-discussion
        title: fils-de-discussion
        provider: Bêta Fils de discussion
        icon: 🗨️
        url: https://mm.lgv.info/
        description: Fils de discussion Matter Most
      - id: ancien-tabelau-de-bord
        title: ancien-tabelau-de-bord
        provider: Bêta Ancien Tabelau-de-Bord
        icon: 🚀
        url: https://www.lgv.info
        description: Ancien tableau de bord Wagtail
      - id: xandikos
        title: xandikos
        provider: Bêta Xandikos
        icon: 🗓️
        url: https://xandikos.lesgv.org
        description: Calendriers Xandikos
  - name: Administration
    items:
      - id: admin-wagtail
        title: admin-wagtail
        provider: Admin Wagtail
        icon: ⚙️
        url: https://www.lesgrandsvoisins.com/cms-admin/
        description: Administration du portail Wagtail
      - id: admin-keycloak
        title: admin-keycloak
        provider: Admin Keycloak
        icon: ⚙️
        url: https://key.lesgrandsvoisins.com/admin
        description: Administration du serveur Keycloak
      - id: admin-ghost
        title: admin-ghost
        provider: Admin Ghost
        icon: ⚙️
        url: https://blog.lesgrandsvoisins.com/ghost
        description: Administration du blog Ghost
      - id: admin-uptime-kuma
        title: admin-uptime-kuma
        provider: Admin Uptime Kuma
        icon: ⚙️
        url: https://list.lesgrandsvoisins.com/
        description: Monitoring par notre Uptime Kuma
      - id: admin-listmonk
        title: admin-listmonk
        provider: Admin ListMonk
        icon: ⚙️
        url: https://list.lesgrandsvoisins.com/
        description: Listes de diffusion par notre serveur ListMonk
      - id: admin-config-magic
        title: admin-config-magic
        provider: Admin Config Magic
        icon: ⚙️
        url: https://www.configmagic.com/
        description: Wikijs de configuration Config Magic
